# Backend
SECRET_KEY=your_secret_key_here
# DATABASE_URL=sqlite:///./ai_trend_notifier.db
DATABASE_URL=postgresql://postgres.yourprojectid:yourpassword@aws-0-us-east-1.pooler.supabase.com:5432/postgres


# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
